
body {
    background-color: lightgoldenrodyellow;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 1.7rem;
    text-align: center;
    color: salmon;
    background-color: wheat;
    width: 700px;
    margin: auto;
}

h3 {
    font-size: 0.6rem;
    font-weight: 300;
    text-align: right;
    color: black;
    margin-right: 50px;
}

/* Header */

header {
    width: 100%;
    background-color: rgb(235,235,235);
}

.flexcontainer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flexcontainer div {
    flex-basis: 400px;
}

.logo {
    flex-shrink: 2;
}

.menu {
    flex-shrink: 2;
}

.logo img {
    width: 100px;
    height: 45px;
    object-position: bottom;
    object-fit: cover;
    margin-bottom: 5px;
}

.logo h1 {
    font-size: 0.9rem;
    color: salmon;
    text-shadow: 2px 3px whitesmoke;
    margin-left: 20px;
    line-height: 15px;
    margin-top: -8px;
}

@media only screen and (max-width: 800px) {
    .logo h1 {
    visibility: hidden;
    }
  }

nav {
    margin-right: 15px;
}

ul {
    float: right;
}

li {
    display: inline;
    list-style: none;
    margin-left: 10px;
    color: slategray;
    font-size: 1.1rem;
    font-weight: 500;
}

li a {
    color: salmon;
    text-decoration: none;
}

/* Body */
/* Container styles */

.container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

/* Main Banner */

.banner {
    background-image: url(./Imgs/kabo-RKDRI_LK9c0-unsplash.jpg);
    width: 700px;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin-top: 20px;
    display: inline-flex;
    justify-items: center;
    align-items: center;
}

.banner .overlay {
    background-color: black;
    opacity: 0.2;
    width: 700px;
    height: 400px;
    position: absolute;
    z-index: 1;
}

.banner h1 {
    font-size: 1.5rem;
    line-height: 4rem;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    z-index: 2;
}

/* About Us */

.content {
    margin: 30px auto;
    width: 700px;
    background-color: lightslategrey;
}

.content .textbox {
    width: fit-content;
    margin:auto;
}

.content p {
    margin: 45px 0;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 0.5rem;
    color: white;
}

.content .overlay {
    background-color: black;
    opacity: 0.2;
    width: 700px;
    height: 300px;
    position: absolute;
    z-index: 1;
}

.content img {
    width: 700px;
    height: 300px;
    object-position: center;
    object-fit: cover;
    opacity: 0.9;
}
/* Product */

.list {
    width: 700px;
    margin: auto;
    background-color: wheat;
}

.list h2 {
    background-color: white;
}

.products {
    width: 700px;
    height: 280px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.product {
    width: 140px;
    height: 260px;
    background-position: center;
    background-size: cover;
}

.product .overlay {
    background-color: black;
    opacity: 0.3;
    width: 140px;
    height: 260px;
    position: absolute;
    z-index: 1;
}

.product h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    text-shadow: 0.2px 1px darksalmon;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 100px;
}

.food {
    background-image: url(./Imgs/anastasiia-rozumna-vi3yGOPBZSY-unsplash.jpg);
}

.drinks {
    background-image: url(./Imgs/tuyen-vo-Q_kvnbfDqEc-unsplash.jpg);
}

.baby {
    background-image: url(./Imgs/leah-hetteberg-7CT_GfGayLA-unsplash.jpg);
}

.hh {
    background-image: url(./Imgs/litter-robot-Y4bbGaHkL6k-unsplash.jpg);
}

/* Team */

.teambox {
    margin: 50px auto;
    width: 700px;
    height: 370px;
    background-color: whitesmoke;
}

.teambox h2 {
    color: white;
    background-color: lightslategray;
}

.team {
    width: 700px;
    height: 300px;
    padding-top: 20px;
    margin: auto;
    display: inline-flex;
    justify-content: space-around;
}

.teammember img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
}

.teammember {
    text-align: center;
    line-height: 1rem;
}

.teammember h3 {
    margin: 30px 70px 0 0;
    font-size: 1.5rem;
    color: salmon;
}

.teammember h4 {
    font-size: 1rem;
    color: salmon;
}

/* Footer */

.footer {
    margin: auto;
    width: 700px;
    height: 130px;
    background-color: rgb(235,235,235);
    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Footer Menu */

.bottommenu nav {
    float: left;
    margin-left: -50px;
}

/* Contact Us */

.footer .textbox {
    margin: -10px 0 0 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: salmon;
}