/* Universal Styling */

body {
    background-color: lightgoldenrodyellow;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    max-width: 700px;
    margin: auto;
}

/* Section Title */

h2 {
    font-size: 1.7rem;
    text-align: center;
    color: salmon;
    background-color: rgb(235,235,235);
    max-width: 700px;
    margin: auto;
}

/* Copyright Footer */

h3 {
    font-size: 0.6rem;
    font-weight: 300;
    color: black;
}

/* Header */

header {
    width: 100%;
    height: 95px;
    line-height: 1px;
    background-color: rgb(235,235,235);
    display: flex;
    flex-direction: column;
}

.logo {
    margin: auto;
}

.logo img {
    width: 100px;
    height: 45px;
    object-position: bottom;
    object-fit: cover;
}

.logo h1 {
    font-size: 1rem;
    color: salmon;
    text-shadow: 2px 3px whitesmoke;
}

nav {
    display: flex;
    width: auto;
    margin: auto;
}

li {
    color: slategray;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline;
    list-style: none;
    padding: 10px;
}

a {
    color: salmon;
    text-decoration: none;
}

/* Body */
/* Container styles */

.container {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

/* Main Banner */

.banner {
    max-width: 100%;
    height: 400px;
    display: flex;
    margin-top: 30px;
    background-image: url(./Imgs/kabo-RKDRI_LK9c0-unsplash.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.banner h1 {
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    line-height: 4rem;
    text-align: center;
    color: whitesmoke;
}

/* About Us */

.aboutus {
    margin: 30px auto;
    max-width: 100%;
    height: auto;
    background-color: lightslategrey;
}

.content .textbox {
    width: fit-content;
    margin:auto;
}

.content p {
    margin: 45px 0;
    font-family: 'Raleway', sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 0.5rem;
    color: white;
}

.content .overlay {
    background-color: black;
    opacity: 0.2;
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: 1;
}

.content img {
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
    opacity: 0.9;
}
/* Product */

.list {
    max-width: 100%;
    height: auto;
    margin: auto;
    background-color: lightslategrey;
    margin-top: 30px;
}

.products {
    max-width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    grid-auto-flow: column 260px;
}

.product {
    width: 140px;
    height: 260px;
    display: flex;
    background-position: center;
    background-size: cover;
    padding: 10px;
    margin: 10px 5px;
}

.product .overlay {
    background-color: rgb(0, 0, 0, 0.2);
    width: 140px;
    height: 260px;
    position: absolute;
    z-index: 1;
}

.product h3 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: white;
    text-shadow: 0.2px 1px darksalmon;
    margin: auto;
    text-align: center;
    z-index: 2;
}

.food {
    background-image: url(./Imgs/anastasiia-rozumna-vi3yGOPBZSY-unsplash.jpg);
}

.drinks {
    background-image: url(./Imgs/tuyen-vo-Q_kvnbfDqEc-unsplash.jpg);
}

.baby {
    background-image: url(./Imgs/leah-hetteberg-7CT_GfGayLA-unsplash.jpg);
}

.hh {
    background-image: url(./Imgs/litter-robot-Y4bbGaHkL6k-unsplash.jpg);
}

/* Team */

.teambox {
    margin: 50px auto;
    max-width: 100%;
    height: auto;
    background-color: lightslategrey;
}

.team {
    max-width: 100%;
    height: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    grid-auto-flow: column 260px;
}

.teammember {
    width: 180px;
    height:260px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    line-height: 1rem;
}

.teammember img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-position: center;
    object-fit: cover;
    margin: auto;
}

.teammember h3 {
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    margin: auto;
}

.teammember h4 {
    font-size: 1rem;
    color: white;
    margin: auto;
}

/* Footer */

.footer {
    margin: auto;
    max-width: 100%;
    height: 130px;
    background-color: rgb(235,235,235);
    background-color: ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Footer Menu */

.bottommenu nav {
    float: left;
    margin-left: -50px;
}

/* Contact Us */

.footer .textbox {
    margin: -10px 0 0 0;
    font-size: 0.8rem;
    font-weight: 500;
    color: salmon;
}